/* variables*/
	:root {
  --btn-color : #F7E545;
}
/*global style*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-size: 72px;
	font-weight: 100;
}
h2{
	font-size: 34px;
}
section{
	display: grid;
	align-items: center;
	justify-content: center;
	text-align: center;
	grid-template-columns: 1fr 3fr;
}

.bg{
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}
.container{
	width: 100%;
	height: 100vh;
	display: grid;
	position: relative;
    align-items: center
    justify-content: center;
}
.info_box{
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;

}
.user_info_box{
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-weight: 300;
}
.user_info_img{
	padding: 20px;
}
.user_info_text{
	padding: 10px 27px 0 51px;
	line-height: 28px;
	text-align: left;
	letter-spacing: 2px;
}
.main_box{
	padding: 105px;
}
.btn{
	outline: none;
	border-radius: 20px;
	border:none;
	cursor: pointer;
	transition:0.3s;
}
.btn_download{
	background-color: rgba(0,0,0,0.8);
	color:white;
	font-size: 22px;
	padding: 12px 32px;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
		border: 1px solid transparent;
		font-weight: 400;
}
.btn_download:hover{
	background-color: var(--btn-color);
	border: 1px solid white;
}
.main_box header{
	padding: 50px;
}
.social_nav{
	margin: 0 auto;
	padding: 20px 50px;
}
.social_icon{
	font-size: 4.5em;
	background-color: transparent;
}
.social_icon:hover{
	color: var(--btn-color);
}
